blinker==1.9.0
click==8.1.7
Flask==3.1.0
Flask-Script==2.0.6
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==3.0.2
nltk==3.9.1
regex==2024.11.6
textblob==0.18.0.post0
tqdm==4.67.1
Werkzeug==3.1.3
